@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.bg-light {
  background-image: url("./assets/images/low-poly-grid-haikei.png");
}

.bg-dark {
  background-image: url("./assets/images/low-poly-grid-haikei-2.png");
}

.bg-home {
  background-image: url("./assets/images/blob.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
