@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.bg-image {
    background-image: url('./assets/images/low-poly-grid-haikei.png');
}


